<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div id="wrapper">

          <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <%= render partial: 'sidebar' %>
          </ul>
        </div>
      </div>
    </div>
    <div id="classroom-show" class="col-sm-3">

    </div>
    <div id="assignments-show" class="col-sm-7">

    </div>
  </div>
</div>
