
  <div class="row">
    <div class="col-sm-4">
      <h2><%= @assignment.title %></h2>
      <% if @assignment.attachment? %>
        <li>  <%= link_to "Download File", @assignment.attachment.url %></li>
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= @assignment.content %><br>

    </div>
  </div>
