


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2><%= @assignment.title %></h2>
      <strong>Due Date: </strong><%= @assignment.due_date %>
    </div>
    <div class="col-sm-8">
      <%= @assignment.content %><br>

    </div>
  </div>
</div>
