
    <div class="col-sm-3">
      <div id="wrapper">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <%= render partial: 'sidebar' %>
              </ul>
          </div>
      </div>
    </div>
